@use "src/assets/stylesheets/variables" as *;

.pia-aboutBlock {
  h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  h2 {
    margin-top: 40px;
  }
  &-piaLogo {
    margin-bottom: 40px;
    img {
      display: block;
      height: 44px;
      width: auto;
      margin-bottom: 24px;
    }
    &-text {
      text-align: left;
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      color: $pia-blue;
      padding-top: 2px;
      line-height: 1.25;
      font-size: 2rem;
      margin-bottom: 20px;
      span {
        font-weight: normal;
      }
    }
    &-version {
      color: #000;
    }
  }
  &-notice {
    text-align: justify;
  }
  &-notice:first-of-type {
    padding-left: 16px;
    border-left: 3px solid $pia-green;
  }
  &-original {
    text-align: justify;
  }
}
